.home_Content,
.from_content,
.to_content,
.manage_content {
  width: 100%;
  height: 100%;
  text-align: center;
}


#home_header {
  font-size: 28px;
  font-weight: 600;
  font-style: oblique;
}

.compare_Currency {
  display: flex;
  justify-content: center;
}

#left,
#right,
#from,
#to {
  width: 500px;
  height: 100%;
  margin: 40px 25px;
}


.from_wrapper,
.to_wrapper,
.manage_wrapper {
  width: 750px;
  height: 100%;
  display: inline-block
}


#buttonAll,
#buttonExpensive,
#buttonCheap, 
#currencySwitch,
#managechanger,
#addcurrency,
#deletecurrency {
  width: 500px;
  border-radius: 16px;
  border-style: none;

  margin-bottom: 20px;


  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
}

#currencySwitch{
  width: 350px;
  font-weight: 800;
  background-color:rgb(212, 212, 212);
}

#inputExpensive,
#inputCheap,
#usdfrominput,
#usdfromoutput,
#usdtooutput,
#usdtoinput,
#nameinput,
#nameinput2,
#valueinput,
#countryinput {
  box-shadow: rgba(66, 66, 66, 0.10) 0 3px 5px -1px, rgba(66, 66, 66, 0.10) 0 6px 10px 0, rgba(66,
      66,
      66,
      0.10) 0 1px 18px 0;
}

#fromconvert,
#toconvert {
  border-radius: 16px;
  border-style: none;
  margin: 30px 0 15px 0;

  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
}


#ulAll {
  list-style-type: none;
  padding-top: 25px;
}

.show_Currency,
.createordelete,
.add,
.remove {
  display: inline-block;
  vertical-align: middle;
}